* {
    margin: 0;
    color: black;
    text-decoration: none;
}

header {
    height: 64px;
    display: flex;
    justify-content: center;

    a {
        width: 174px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4.36px;

        span {
            font-size: 19.85px;
            font-weight: 600;
            color: #c92071;
        }
    }

}